extends layout

block content
  .jumbotron
    h1 Agregaste un cliente al WASS
    p.lead WASS tiene un nuevo cliente.
    p
      a.btn.btn-primary.btn-large(href='http://www.anses.gob.ar/') Learn more &raquo;